*.gif
*.zst
*.e
*.o
*.tsv

cluster-analysis/*
cecile-rr/*
data/*
db_files/*
idseq-flow/*
results/*
test-snake/*
test_data/*
tsv-utils/*
tmp/*
logs/*
scripts/nondb_versions/*
.snakemake/*

.Rdata
.Rhistory
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.vscode/*
